<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ContactUs</title>
	<style>
	.div1{
		background-color:cyan;
		margin-left:30%;
		margin-right:30%;
		margin-bottom:120px;
		border-radius:20px;

	}
	h2{
	text-align:center;
	}
	</style>
</head>
<body>
	<div class='div1'>
		</br>
		<h2>Contact Us</h2>
		&nbsp;&nbsp; Name:Harsha Yamasani</br>
		&nbsp;&nbsp; Email:hariharsha614261@gmail.com</br>
		&nbsp;&nbsp; Linkedin:<a href=" https://www.linkedin.com/in/harsha-yamasani/">Click here for linkedin profile</a> </br>
		&nbsp;&nbsp; Github:@harsha614261/<a href="https://github.com/harsha614261">Click here for github profile</a> </br>
		<b></b></br>
	</div>

</body>
</html>